@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;600;700&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body{
    width: 100%;
}
.container{
    width: 100%;
    margin: auto;
    display: flex;
    /* padding: 0 20px; */
    flex-direction: row;
    justify-content: center;
}
header h1{
    color: red;
}
header a{
    text-decoration: none;
    color: red;
}
header a:hover{
    color: rgb(20, 20, 20);
}
img{
    margin-bottom: 50px;
}

.one{
    width: 300px;
    background-color: hsl(31, 77%, 52%);
    /* padding: 0 0 80px 10px; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: 70px;

    
}
.one a{
    text-decoration: none;
    background-color:hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
    padding: 15px 40px;
    border-radius: 40px;
    font-family: 'Lexend Deca', sans-serif;
}
.two{
    width: 300px;
    background-color: hsl(184, 100%, 22%);
    padding-bottom: 70px;

    /* padding: 0 0 10px; */
}
.two a{
    text-decoration: none;
    background-color:hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
    padding: 15px 40px;
    border-radius: 40px;
    font-family: 'Lexend Deca', sans-serif;
}

.three{
    width: 300px;
    background-color: hsl(179, 100%, 13%);
    /* padding: 0 0 80px 10px; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 70px;
}
.three a{
    text-decoration: none;
    background-color:hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
    padding: 15px 40px;
    border-radius: 40px;
    font-family: 'Lexend Deca', sans-serif;
}
a:hover{
        background-color: transparent;
        border: 2px white solid;
        color: white;
}
.subs{
    margin-left: 40px;
    margin-top: 50px;
}

.subs h1{
    width: 50%;
    font-size:2.8rem;
    color: hsl(0, 0%, 95%);
    margin-bottom: 35px;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 400;

}
.subs p{
    font-size: 15px;
    width: 200px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 25px;
    margin-bottom: 90px;
    font-family: 'Lexend Deca', sans-serif;
}
footer{
    text-align: center;
    margin-top: 50px;
    color: rgb(7, 90, 65);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 20px;
}
/* grid task style */
.grid{
    background-color: rgb(160, 151, 151);
  }

header{
    text-align: center;
}
  
.direction-grid {
    color: white;
    text-decoration: none;
  }
  
  .direction-grid:hover {
    color: rgb(255, 38, 0);
  }
  
  .wrapper {
    max-width: 50%;
    height: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px;
    outline: none;
    gap: 10px;
  }
  
  .grid-item-1 {
    grid-column: 1/3;
    background-color: rgb(255, 72, 0);
    text-align: center;
  }
  .grid-item-2 {
    background-color: rgb(252, 164, 1);
    text-align: center;
  }
  .grid-item-3 {
    grid-row: 2/4;
    background-color: rgb(5, 180, 19);
    text-align: center;
  }
  .grid-item-4 {
    grid-column: 2/4;
    background-color: rgb(48, 136, 236);
    text-align: center;
  }
  .grid-item-5 {
    grid-column: 2/4;
    background-color: rgb(48, 136, 236);
    text-align: center;
  }
  
  /* Mobile style */
@media screen and (max-width:768px){
    .container{
        width: 90%;
        flex-direction: column;
        align-items: center; 
        padding:0;
        border: none;
        overflow: hidden;  
    }
    img{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .one{
        border-top-left-radius:10px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
        padding-bottom: 70px;
    }
    .three{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-bottom: 70px;
    }

    
}
    